<a href = "/Dashboard">Dashboard</a>

<form asp-controller="Activity" asp-action="Logout" method="POST">
    <input type="submit" value="Logout">
</form>

<h1>Activity: @ViewBag.Activity.Name</h1>
<h3>Event Coordinator: @ViewBag.Activity.Creator.FirstName</h3>
<h3>Description:</h3>
<p>@ViewBag.Activity.Description</p>
<h3>Participants:</h3>
<ul>
    @foreach(var user in @ViewBag.Activity.UsersAttending) {
        <li>@user.User.FirstName</li>
    }
</ul>
<hr>

<h3>Write a review!</h3>

@model activity_planner.Models.ReviewViewModel
<form asp-controller="Review" asp-action="AddReview" method="post">
    <input type="hidden" name = "ActivityID" value = "@ViewBag.Activity.ActivityID">
    <label asp-for="Title"></label>
    <input asp-for="Title"/><br>
    <label asp-for="Rating"></label>
    <select asp-for="Rating">
        <option value = "1">1</option>
        <option value = "2">2</option>
        <option value = "3">3</option>
        <option value = "4">4</option>
        <option value = "5">5</option>
    </select><br>
    <label asp-for="Description"></label>
    <textarea asp-for="Description"></textarea><br>
    <input type="submit" value = "Submit">
</form>

<div asp-validation-summary="All"></div>