<a href = "/Dashboard">Dashboard</a>

<form asp-controller="Activity" asp-action="Logout" method="POST">
    <input type="submit" value="Logout">
</form>

<h1>Activity: @ViewBag.Activity.Name</h1>
<h3>Event Coordinator: @ViewBag.Activity.Creator.FirstName</h3>
<h3>Description:</h3>
<p>@ViewBag.Activity.Description</p>
<h3>Participants:</h3>
<ul>
    @foreach(var user in @ViewBag.Activity.UsersAttending) {
        <li>@user.User.FirstName</li>
    }
</ul>
<a href="ReviewForm/@ViewBag.Activity.ActivityID">Add Review</a>
<h3>Reviews</h3>
<hr>
@foreach( var review in @ViewBag.Activity.Reviews) {
    <h4>@review.Title</h4>
    <h5>By: @review.Reviewer.FirstName @review.Reviewer.LastName on @review.CreatedAt.ToString("MM/dd")</h5>
    <h5>@review.Rating Stars</h5>
    <p>@review.Description</p>
    <hr>
}