<link rel="stylesheet" href="~/css/site.css" />
@model activity_planner.Models.ActivityViewModel

<div class="container">
    <div class="row">
        <div class="col">
            <a href="/Dashboard" class="activity-nav-bar">Dashboard</a>
            <p class="activity-nav-bar"> | </p>
            <form asp-controller="Activity" asp-action="Logout" method="POST" class="activity-nav-bar">
                    <input type="submit" value="Logout" class="btn btn-danger"\>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1 class="add-form-header">@ViewBag.Activity.Name</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h4>Event Coordinator: @ViewBag.Activity.Creator.FirstName @ViewBag.Activity.Creator.LastName</h4>
            <h4>Event Date: @Model.GetlocalDateTimeString()</h4>
            <h4>Location: @ViewBag.Activity.StreetAddress, @ViewBag.Activity.City, @ViewBag.Activity.State @ViewBag.Activity.ZipCode</h4>
            <h4>Description:</h4>
            <p>@ViewBag.Activity.Description</p>
            <h4>People that attended:</h4>
            <ul>
                @foreach(var user in @ViewBag.Activity.UsersAttending) {
                    <li>@user.User.FirstName @user.User.LastName</li>
                }
            </ul>
            <hr>
        </div>
        <div class="col">
            <iframe
            id="showActivityIframe"
            width="450"
            height="250"
            frameborder="0" style="border:0"
            src="@Model.GetMapSrcString()"
            >
            </iframe>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3 id="reviews-header">Reviews</h3>
            @{
                bool attendedflag = false;
                @foreach (var useractivity in @ViewBag.Activity.UsersAttending) {
                    if (@useractivity.UserID == @ViewBag.LoggedUserID) {
                        attendedflag = true;
                    }
                }
                @if (attendedflag == true) {
                    <form id="add-review-button" asp-controller="Review" asp-action="ReviewForm" method="GET">
                        <input type="hidden" name="ActivityID" value="@ViewBag.Activity.ActivityID">
                        <input type="submit" value="Add Review" class="btn btn-success">
                    </form>
                }
            }
        </div>
    </div>

    <hr>
    <!-- I WANT TO ADD ABILITY TO LIKE REVIEWS, THEN SORT THEM BY LIKES -->
    @foreach( var review in @ViewBag.Activity.Reviews) {
        <h4 class="review-title">@review.Title</h4>
        <h6>By: @review.Reviewer.FirstName @review.Reviewer.LastName on @review.CreatedAt.ToString("MM/dd/yy")</h6>
        for(int i=0; i < @review.Rating; i++) {
            <img src="~/images/star-filled.png" alt="filled star">
        }
        for(int i=0; i < (5 - @review.Rating); i++) {
            <img src="~/images/star-empty.png" alt="emtpy star">
        }
        <br><br>
        <p>@review.Description</p>
        <hr>
    }
</div>