<link rel="stylesheet" href="~/css/site.css" />

<div class="container">
    <div class=" row top-bar-dashboard">
        <div class="col">
            <h4>Welcome: @ViewBag.LoggedUser.FirstName @ViewBag.LoggedUser.LastName</h4>
            <form asp-controller="Activity" asp-action="Logout" method="POST" class="btn logout-button">
                    <input type="submit" value="Logout" class="btn btn-danger">
            </form>
            <h1>Activity Planner</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Welcome to your activity and event management platform!  Here you can create, manage, and join other user's activities.  Below you can view upcoming activities by clicking on its name or click "Add New Activity" to create your own. In the Past Activities section you can read reviews or add your own if you participated in the activity.  Look around and Enjoy!</p>
            <hr>
        </div>
    </div>
    <div class="row upcoming-top-bar">
        <div class="col">    
            <h3 class="dashboard-header">Upcoming Activities</h3>
            <form asp-controller="Activity" asp-action="AddActivityForm" method="GET" class="add-activity-btn">
                    <input type="submit" class="btn btn-success" value="Add New Activity!">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover table-striped table-bordered table-responsive-sm">
                <thead class="thead-light">
                    <tr>
                        <td>Activity</td>
                        <td>Date and Time</td>
                        <td>Duration</td>
                        <td>Event Coordinator</td>
                        <td>Number of Participants</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var activity in ViewBag.AllFutureActivities) {
                    <tr>
                        <td><a href="/ShowActivity/@activity.ActivityID">@activity.Name</a></td>
                        <td>@activity.StartTime.ToString("MM/dd hh:mm tt")</td>
                        <!-- take time in minutes and translate it back to appropriate time lenght display -->
                        @if (@activity.Duration < 60) {
                            <td>@activity.Duration Minutes</td>
                        } else if (@activity.Duration > 59 && @activity.Duration < 1440) {
                            <td>@(activity.Duration/60) Hours</td>
                        } else {
                            <td>@(activity.Duration/1440) Days</td>
                        }
                        <td>@activity.Creator.FirstName</td>
                        <td>@activity.UsersAttending.Count</td>
                        <!-- //owner can delte activity that hasn't occured yet -->
                        @if (ViewBag.LoggedUser.UserID == activity.Creator.UserID) {
                        <td>
                            <form asp-controller="Activity" asp-action="DeleteActivity" method="POST">
                                <input type="hidden" value="@activity.ActivityID" name="ActivityID">
                                <input type="submit" class="btn btn-danger" value="Cancel Activity">
                            </form>
                        </td>
                        } else {
                            <!-- search for logged in user among existing guests -->
                            bool NotGoing = true;
                            @foreach (var useractivity in activity.UsersAttending) {
                                if (@useractivity.UserID == @ViewBag.LoggedUser.UserID) {
                                    NotGoing = false;
                                }
                            }
                            if (NotGoing) {
                                <!-- searh through all activities you have created/join looking for overlapping time lenghts -->
                                bool overlapflag = false;
                                @foreach ( var ua in ViewBag.LoggedUser.AttendingActivities) {
                                    DateTime JoinedActivityStart = ua.Activity.StartTime;
                                    DateTime JoinedActivityEnd = ua.Activity.StartTime + new TimeSpan(0, ua.Activity.Duration, 0);
                                    DateTime ThisActivityStart = activity.StartTime;
                                    DateTime ThisActivityEnd = activity.StartTime + new TimeSpan(0, activity.Duration, 0);
                                    if(JoinedActivityStart < ThisActivityEnd && ThisActivityStart < JoinedActivityEnd) {
                                        overlapflag = true;
                                    }
                                }
                                <!-- can join non overlapping activities -->
                                if (overlapflag != true) {
                                    <td>
                                            <form asp-controller="Activity" asp-action="JoinActivity" method="POST">
                                                <input type="hidden" value="@activity.ActivityID" name="ActivityID">
                                                <input type="submit" value="Join" class="btn btn-success">
                                            </form>
                                    </td>
                                } else {
                                    <td>You Are Busy During This Time</td>
                                }
                            
                            } else {
                                <!-- can leave joined activities as long as they havn't started yet -->
                                <td>
                                    <form asp-controller="Activity" asp-action="LeaveActivity" method="POST">
                                        <input type="hidden" value="@activity.ActivityID" name="ActivityID">
                                        <input type="submit" class="btn btn-warning" value="Leave">
                                    </form>
                                </td>
                            }
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h3 class="dashboard-header">Past Activities</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover table-striped table-bordered table-responsive-md">
                <thead class="thead-light">
                    <tr>
                        <td>Activity</td>
                        <td>Date and Time</td>
                        <td>Duration</td>
                        <td>Event Coordinator</td>
                        <td>Number of Participants</td>
                        <td>You Attended</td>
                        <td>Reviews</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>   
                    @foreach (var activity in ViewBag.PastActivities) {
                        bool attendedflag = false;
                        <tr>
                            <td><a href="/ShowActivity/@activity.ActivityID">@activity.Name</a></td>
                            <td>@activity.StartTime.ToString("MM/dd hh:mm tt")</td>
                            @if (@activity.Duration < 60) {
                                <td>@activity.Duration Minutes</td>
                            } else if (@activity.Duration > 59 && @activity.Duration < 1440) {
                                <td>@(activity.Duration/60) Hours</td>
                            } else {
                                <td>@(activity.Duration/1440) Days</td>
                            }
                            <td>@activity.Creator.FirstName</td>
                            <td>@activity.UsersAttending.Count</td>
                            
                            <!-- check to see if you attended this event -->
                            @foreach (var useractivity in activity.UsersAttending) {
                                if (@useractivity.UserID == @ViewBag.LoggedUser.UserID) {
                                    attendedflag = true;
                                }
                            }
                            @if (attendedflag == true) {
                                <td>Yes</td>
                                <td>@activity.Reviews.Count</td>
                                <td><a href="ReviewForm/@activity.ActivityID">Add Review</a> | <a href="ShowReviews/@activity.ActivityID">View Reviews</a></td>
                            } else {
                                <td>No</td>
                                <td>@activity.Reviews.Count</td>
                                <td><a href="ShowReviews/@activity.ActivityID">View Reviews</a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>