@model activity_planner.Models.DashboardViewModel
<link rel="stylesheet" href="~/css/site.css" />

<div class="container">
    <div class=" row top-bar-dashboard">
        <div class="col">
            <h4>Welcome: @Model.LoggedUser.FirstName @Model.LoggedUser.LastName</h4>
            <form asp-controller="Activity" asp-action="Logout" method="POST" class="btn logout-button">
                    <input type="submit" value="Logout" class="btn btn-danger">
            </form>
            <h1>Activity Planner</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Welcome to your activity and event management platform!  Here you can create, manage, and join other user's activities.  Below you can view upcoming activities by clicking on its name or click "Add New Activity" to create your own. In the Past Activities section you can read reviews or add your own if you participated in the activity.  Look around and Enjoy!</p>
            <hr>
        </div>
    </div>
    <div class="row upcoming-top-bar">
        <div class="col">    
            <h3 class="dashboard-header">Upcoming Activities</h3>
            <form asp-controller="Activity" asp-action="AddActivityForm" method="GET" class="add-activity-btn">
                    <input type="submit" class="btn btn-success" value="Add New Activity!">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover table-striped table-bordered table-responsive-sm">
                <thead class="thead-light">
                    <tr>
                        <td>Activity</td>
                        <td>Start Date and Time</td>
                        <td>Duration</td>
                        <td>Event Coordinator</td>
                        <td>Number of Participants</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var activity in Model.FutureActivities) {
                    <tr>
                        <td><a href="/ShowActivity/@activity.ActivityID">@activity.Name</a></td>
                        <td>@activity.GetlocalStartDateTimeStringFormatted()</td>
                        <!-- take Date in minutes and translate it back to appropriate time lenght display -->
                        <td>@activity.GetDurationString()</td>
                        <td>@activity.Creator.FirstName @activity.Creator.LastName</td>
                        <td>@activity.UsersAttending.Count</td>
                        <!-- //owner can delte activity that hasn't occured yet -->
                        @if(Model.LoggedUserIsActivityCreator(activity)) {
                        <td>
                            <form asp-controller="Activity" asp-action="DeleteActivity" method="POST">
                                <input type="hidden" value="@activity.ActivityID" name="ActivityID">
                                <input type="submit" class="btn btn-danger" value="Cancel Activity">
                            </form>
                        </td>
                        } else {
                            <!-- search for logged in user among existing guests -->
                            if (!activity.UserIsAttending(Model.LoggedUser.UserID)) {
                                

                                <!-- can join non overlapping activities -->
                                if (activity.UserHasTimeOverlap(Model.LoggedUser))
                                {
                                    <td>You are already attending an activity during this time</td>
                                } 
                                else 
                                {
                                    <td>
                                        <form asp-controller="Activity" asp-action="JoinActivity" method="POST">
                                            <input type="hidden" value="@activity.ActivityID" name="ActivityID">
                                            <input type="submit" value="Join" class="btn btn-success">
                                        </form>
                                    </td>
                                    
                                }
                            
                            } else {
                                <!-- can leave joined activities as long as they havn't started yet -->
                                <td>
                                    <form asp-controller="Activity" asp-action="LeaveActivity" method="POST">
                                        <input type="hidden" value="@activity.ActivityID" name="ActivityID">
                                        <input type="submit" class="btn btn-warning" value="Leave">
                                    </form>
                                </td>
                            }
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h3 class="dashboard-header">Past Activities</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover table-striped table-bordered table-responsive-md">
                <thead class="thead-light">
                    <tr>
                        <td>Activity</td>
                        <td>Start Date and Time</td>
                        <td>Duration</td>
                        <td>Event Coordinator</td>
                        <td>Number of Participants</td>
                        <td>You Attended</td>
                        <td>Reviews</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>   
                    @foreach (var activity in Model.PastActivities) {
                        <tr>
                            <td><a href="ShowReviews/@activity.ActivityID">@activity.Name</a></td>
                            <td>@activity.GetlocalStartDateTimeStringFormatted()</td>
                            <td>@activity.GetDurationString()</td>
                            <td>@activity.Creator.FirstName @activity.Creator.LastName</td>
                            <td>@activity.UsersAttending.Count</td>
                            
                            <!-- check to see if you attended this event -->
                            @if(activity.UserIsAttending(Model.LoggedUser.UserID)) {
                                <td>Yes</td>
                                <td>@activity.Reviews.Count</td>
                                <td><a href="ReviewForm/@activity.ActivityID">Add Review</a> | <a href="ShowReviews/@activity.ActivityID">View Reviews</a></td>
                            } else {
                                <td>No</td>
                                <td>@activity.Reviews.Count</td>
                                <td><a href="ShowReviews/@activity.ActivityID">View Reviews</a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>