<link rel="stylesheet" href="~/css/site.css" />

<div class="container">
    <div class="row">
        <div class="col">
            <a asp-conroller="Activity" asp-action="ShowDashboard" class="activity-nav-bar">Dashboard</a>
            <p class="activity-nav-bar"> | </p>
            <form asp-controller="Activity" asp-action="Logout" method="POST" class="activity-nav-bar">
                    <input type="submit" value="Logout" class="btn btn-danger"\>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="add-form-header">Activity Viewer</h1>
        </div>
    </div>
    <hr>

    <!-- DISPLAY OF OVERLAPPING EVENTS HERE -->
    <div class="row">
        <div class="col">
            <h1 class="show-page-inline">Title: @ViewBag.Activity.Name</h1> 
            @if (ViewBag.LoggedUser.UserID == @ViewBag.Activity.Creator.UserID) {
                <form class="show-page-inline" asp-controller="Activity" asp-action="DeleteActivity" method="POST">
                    <input type="hidden" value="@ViewBag.Activity.ActivityID" name="ActivityID">
                    <input type="submit" value="Delete" class="btn btn-danger show-page-inline">
                </form>
            } else {
                bool NotGoing = true;
                @foreach (var useractivity in @ViewBag.Activity.UsersAttending) {
                    if (@useractivity.UserID == @ViewBag.LoggedUser.UserID) {
                        NotGoing = false;
                    }
                }
                if (NotGoing) {
                    <td>
                        <form class="show-page-inline" asp-controller="Activity" asp-action="JoinActivity" method="POST">
                            <input type="hidden" value="@ViewBag.Activity.ActivityID" name="ActivityID">
                            <input type="submit" value="Join" class="btn btn-success show-page-inline">
                        </form>
                    </td>
                } else {
                    <td>
                        <form class="show-page-inline" asp-controller="Activity" asp-action="LeaveActivity" method="POST">
                            <input type="hidden" value="@ViewBag.Activity.ActivityID" name="ActivityID">
                            <input type="submit" value="Leave" class="btn btn-warning show-page-inline">
                        </form>
                    </td>
                }
            }
        </div>
    </div>
    <h3>Event Coordinator: @ViewBag.Activity.Creator.FirstName</h3>
    <h3>Description:</h3>
    <p>@ViewBag.Activity.Description</p>
    <h3>Participants:</h3>
    <ul>
        @foreach(var user in @ViewBag.Activity.UsersAttending) {
            <li>@user.User.FirstName</li>
        }
    </ul>
</div>