@model activity_planner.Models.ActivityViewModel
<link rel="stylesheet" href="~/css/site.css" />

<div class="container">
    <div class="row">
        <div class="col">
            <a asp-conroller="Activity" asp-action="ShowDashboard" class="activity-nav-bar">Dashboard</a>
            <p class="activity-nav-bar"> | </p>
            <form asp-controller="Activity" asp-action="Logout" method="POST" class="activity-nav-bar">
                    <input type="submit" value="Logout" class="btn btn-danger"\>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="add-form-header">@ViewBag.Activity.Name</h1>
        </div>
    </div>
    <hr>
    <!-- DISPLAY OF OVERLAPPING EVENTS HERE -->
    <div class="row">
        <div class="col">
            <h4>Event Coordinator: @ViewBag.Activity.Creator.FirstName @ViewBag.Activity.Creator.LastName</h4>
            <h4>Event Date: @Model.GetlocalDateTimeString()</h4>
            <h4>Location: @ViewBag.Activity.StreetAddress, @ViewBag.Activity.City, @ViewBag.Activity.State @ViewBag.Activity.ZipCode</h4>
            <h4>Description:</h4>
            <p>@ViewBag.Activity.Description</p>
            <h4>Currently Attending:</h4>
            <ul>
                @foreach(var user in @ViewBag.Activity.UsersAttending) {
                    <li>@user.User.FirstName @user.User.LastName</li>
                }
            </ul>
        </div>
        <div class="col">
            @if (ViewBag.LoggedUser.UserID == @ViewBag.Activity.Creator.UserID) {
                <div class="row">
                    <div class="col">
                        <h5> Your Attending Status: Creator/Attending</h5>
                        <h5 class="show-page-inline">Actions: </h5>
                        <!-- if you are created, you can delte this activity -->
                        <form class="show-page-inline" asp-controller="Activity" asp-action="DeleteActivity" method="POST">
                            <input type="hidden" value="@ViewBag.Activity.ActivityID" name="ActivityID">
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    </div>
                </div>
            } else {
                bool NotGoing = true;
                @foreach (var useractivity in @ViewBag.Activity.UsersAttending) {
                    if (@useractivity.UserID == @ViewBag.LoggedUser.UserID) {
                        NotGoing = false;
                    }
                }
                <!-- can join or leave based on current attending status -->
                if (NotGoing) {
                    <div class="row">
                        <div class="col">
                            <h5> Your Attending Status: Not Attending</h5>
                            <h5 class="show-page-inline">Actions: </h5>
                            <form class="show-page-inline" asp-controller="Activity" asp-action="JoinActivity" method="POST">
                                    <input type="hidden" value="@ViewBag.Activity.ActivityID" name="ActivityID">
                                    <input type="submit" value="Join" class="btn btn-success">
                            </form>
                        </div>
                    </div>
                } else {
                    <div class="row">
                        <div class="col">
                            <h5> Your Attending Status: Attending</h5>
                            <h5 class="show-page-inline">Actions: </h5>
                            <form class="show-page-inline" asp-controller="Activity" asp-action="LeaveActivity" method="POST">
                                    <input type="hidden" value="@ViewBag.Activity.ActivityID" name="ActivityID">
                                    <input type="submit" value="Leave" class="btn btn-warning">
                                </form>
                        </div>
                    </div>
                }
            }
            <iframe
                id="showActivityIframe"
                width="450"
                height="250"
                frameborder="0" style="border:0"
                src="@Model.GetMapSrcString()"
            >
            </iframe>
        </div>
    </div>  
</div>